---

---

<footer class="bottom-0 z-50 bg-black text-white opacity-85">
  <nav class="flex justify-center items-center gap-24 px-8 h-14 text-large">
    <a href="legal/imprint" class="hover:text-green-500 transition-colors"
      >Imprint</a
    >
    <a
      href="legal/privacy-policy"
      class="hover:text-green-500 transition-colors">Privacy Policy</a
    >
  </nav>
</footer>s
