---

---

<header class="sticky top-0 z-50 bg-black text-white opacity-85">
  <nav class="flex justify-center items-center gap-24 px-8 h-40 text-2xl">
    <a href="/" class="hover:text-green-500 transition-colors">About</a>
    <a href="" class="hover:text-green-500 transition-colors">Games</a>
    <div>
      <!-- TODO Add logo -->
    </div>
    <a href="" class="hover:text-green-500 transition-colors">Blog</a>
    <a href="" class="hover:text-green-500 transition-colors">Socials</a>
  </nav>
</header>
